<%= render 'profile' , user: @user %>

<% content_for :head do %>
  <title><%= @user.name %>さんの monolist</title>
  <meta name="description" content="<%= @user.name %>さんのモノページ。
            <%= @user.name %>さんが欲しいモノ、持ってるモノを表示しています。">
<% end %>

<%= render 'items/list' , items: @items %>
